master-feeds.json
{
  "name": "Forage Graph \u2014 Master Intelligence Feeds v3",
  "nodes": [
    {
      "id": "36278099-56e7-4474-8df6-91c9f99323d5",
      "name": "Run Every 6 Hours",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        300
      ],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 6
            }
          ]
        }
      }
    },
    {
      "id": "1ab3d553-8860-4728-bf33-cb353b097205",
      "name": "RSS 1: BBC World News",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1,
      "position": [
        340,
        0
      ],
      "continueOnFail": true,
      "parameters": {
        "url": "https://feeds.bbci.co.uk/news/world/rss.xml",
        "options": {
          "timeout": 15000
        }
      }
    },
    {
      "id": "ce7ad641-6a5b-4c18-a0f4-ea70b7d4df0e",
      "name": "Tag 1: BBC World News",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        500,
        0
      ],
      "continueOnFail": true,
      "parameters": {
        "jsCode": "const src=\"BBC World\";\nconst cat=\"world_news\";\nconst cw=0.4;\nconst mech=\"news_signal\";\nconst src_cred=0.85;\nreturn $input.all().map(i => {\n  const base = (i.json && typeof i.json === 'object') ? i.json : {};\n  return {json:{...base,source:src,category:cat,causal_weight:cw,mechanism:mech,source_credibility:src_cred}};\n});"
      }
    },
    {
      "id": "8b62115e-357a-408e-98b2-72d5eeeeea8c",
      "name": "RSS 2: Reuters Top News",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1,
      "position": [
        660,
        0
      ],
      "continueOnFail": true,
      "parameters": {
        "url": "https://feeds.reuters.com/reuters/topNews",
        "options": {
          "timeout": 15000
        }
      }
    },
    {
      "id": "30a5e34c-96f0-4947-9da2-46ce41c23efa",
      "name": "Tag 2: Reuters Top News",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        820,
        0
      ],
      "continueOnFail": true,
      "parameters": {
        "jsCode": "const src=\"Reuters\";\nconst cat=\"world_news\";\nconst cw=0.5;\nconst mech=\"news_signal\";\nconst src_cred=0.9;\nreturn $input.all().map(i => {\n  const base = (i.json && typeof i.json === 'object') ? i.json : {};\n  return {json:{...base,source:src,category:cat,causal_weight:cw,mechanism:mech,source_credibility:src_cred}};\n});"
      }
    },
    {
      "id": "d987df2f-bad0-4dc0-9d4a-6b87905dba83",
      "name": "RSS 3: The Guardian World",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1,
      "position": [
        980,
        0
      ],
      "continueOnFail": true,
      "parameters": {
        "url": "https://www.theguardian.com/world/rss",
        "options": {
          "timeout": 15000
        }
      }
    },
    {
      "id": "9d692a37-8b49-4899-8195-dde9fb56cf26",
      "name": "Tag 3: The Guardian World",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1140,
        0
      ],
      "continueOnFail": true,
      "parameters": {
        "jsCode": "const src=\"Guardian\";\nconst cat=\"world_news\";\nconst cw=0.4;\nconst mech=\"news_signal\";\nconst src_cred=0.8;\nreturn $input.all().map(i => {\n  const base = (i.json && typeof i.json === 'object') ? i.json : {};\n  return {json:{...base,source:src,category:cat,causal_weight:cw,mechanism:mech,source_credibility:src_cred}};\n});"
      }
    },
    {
      "id": "97536382-0a59-466f-a6ce-a08bf3bf75e6",
      "name": "RSS 4: Sky News World",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1,
      "position": [
        340,
        140
      ],
      "continueOnFail": true,
      "parameters": {
        "url": "https://feeds.skynews.com/feeds/rss/world.xml",
        "options": {
          "timeout": 15000
        }
      }
    },
    {
      "id": "81252f4b-8519-400c-b55d-6bc14cc5ae81",
      "name": "Tag 4: Sky News World",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        500,
        140
      ],
      "continueOnFail": true,
      "parameters": {
        "jsCode": "const src=\"Sky News\";\nconst cat=\"world_news\";\nconst cw=0.3;\nconst mech=\"news_signal\";\nconst src_cred=0.75;\nreturn $input.all().map(i => {\n  const base = (i.json && typeof i.json === 'object') ? i.json : {};\n  return {json:{...base,source:src,category:cat,causal_weight:cw,mechanism:mech,source_credibility:src_cred}};\n});"
      }
    },
    {
      "id": "e0bacd3b-39a1-49be-b85b-04d135b23335",
      "name": "RSS 5: Foreign Policy",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1,
      "position": [
        660,
        140
      ],
      "continueOnFail": true,
      "parameters": {
        "url": "https://foreignpolicy.com/feed/",
        "options": {
          "timeout": 15000
        }
      }
    },
    {
      "id": "1f5f890e-aff2-4f4c-a6c7-643549d87824",
      "name": "Tag 5: Foreign Policy",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        820,
        140
      ],
      "continueOnFail": true,
      "parameters": {
        "jsCode": "const src=\"Foreign Policy\";\nconst cat=\"geopolitics\";\nconst cw=0.6;\nconst mech=\"geopolitical_analysis\";\nconst src_cred=0.88;\nreturn $input.all().map(i => {\n  const base = (i.json && typeof i.json === 'object') ? i.json : {};\n  return {json:{...base,source:src,category:cat,causal_weight:cw,mechanism:mech,source_credibility:src_cred}};\n});"
      }
    },
    {
      "id": "4e6aa40f-0179-4a2d-a3ff-408bb0bcc632",
      "name": "RSS 6: Foreign Affairs",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1,
      "position": [
        980,
        140
      ],
      "continueOnFail": true,
      "parameters": {
        "url": "https://www.foreignaffairs.com/rss.xml",
        "options": {
          "timeout": 15000
        }
      }
    },
    {
      "id": "527ca6f5-0532-44b6-b025-d40426d55a9e",
      "name": "Tag 6: Foreign Affairs",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1140,
        140
      ],
      "continueOnFail": true,
      "parameters": {
        "jsCode": "const src=\"Foreign Affairs\";\nconst cat=\"geopolitics\";\nconst cw=0.7;\nconst mech=\"geopolitical_analysis\";\nconst src_cred=0.92;\nreturn $input.all().map(i => {\n  const base = (i.json && typeof i.json === 'object') ? i.json : {};\n  return {json:{...base,source:src,category:cat,causal_weight:cw,mechanism:mech,source_credibility:src_cred}};\n});"
      }
    },
    {
      "id": "e8f68dbc-d723-4fc8-83d9-9186c896000b",
      "name": "RSS 7: TechCrunch",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1,
      "position": [
        340,
        280
      ],
      "continueOnFail": true,
      "parameters": {
        "url": "https://techcrunch.com/feed/",
        "options": {
          "timeout": 15000
        }
      }
    },
    {
      "id": "fbb0dd4e-3566-4b4c-a29c-a14241426a43",
      "name": "Tag 7: TechCrunch",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        500,
        280
      ],
      "continueOnFail": true,
      "parameters": {
        "jsCode": "const src=\"TechCrunch\";\nconst cat=\"technology\";\nconst cw=0.4;\nconst mech=\"tech_signal\";\nconst src_cred=0.78;\nreturn $input.all().map(i => {\n  const base = (i.json && typeof i.json === 'object') ? i.json : {};\n  return {json:{...base,source:src,category:cat,causal_weight:cw,mechanism:mech,source_credibility:src_cred}};\n});"
      }
    },
    {
      "id": "506d0db5-8fd3-4d20-8d57-d01972cac929",
      "name": "RSS 8: TechCrunch Startups",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1,
      "position": [
        660,
        280
      ],
      "continueOnFail": true,
      "parameters": {
        "url": "https://techcrunch.com/category/startups/feed",
        "options": {
          "timeout": 15000
        }
      }
    },
    {
      "id": "2626003b-77b0-461f-8fee-51760e401402",
      "name": "Tag 8: TechCrunch Startups",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        820,
        280
      ],
      "continueOnFail": true,
      "parameters": {
        "jsCode": "const src=\"TechCrunch Startups\";\nconst cat=\"startups\";\nconst cw=0.5;\nconst mech=\"startup_signal\";\nconst src_cred=0.78;\nreturn $input.all().map(i => {\n  const base = (i.json && typeof i.json === 'object') ? i.json : {};\n  return {json:{...base,source:src,category:cat,causal_weight:cw,mechanism:mech,source_credibility:src_cred}};\n});"
      }
    },
    {
      "id": "10c280b9-8815-4974-beeb-927dc0e27918",
      "name": "RSS 9: TechCrunch Funding",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1,
      "position": [
        980,
        280
      ],
      "continueOnFail": true,
      "parameters": {
        "url": "https://techcrunch.com/tag/funding/feed",
        "options": {
          "timeout": 15000
        }
      }
    },
    {
      "id": "d1ce35fa-8307-498e-b67b-c38539ac9014",
      "name": "Tag 9: TechCrunch Funding",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1140,
        280
      ],
      "continueOnFail": true,
      "parameters": {
        "jsCode": "const src=\"TechCrunch Funding\";\nconst cat=\"venture_capital\";\nconst cw=0.7;\nconst mech=\"funding_event\";\nconst src_cred=0.82;\nreturn $input.all().map(i => {\n  const base = (i.json && typeof i.json === 'object') ? i.json : {};\n  return {json:{...base,source:src,category:cat,causal_weight:cw,mechanism:mech,source_credibility:src_cred}};\n});"
      }
    },
    {
      "id": "929fcd4f-cbda-4aae-af78-2561b18fe637",
      "name": "RSS 10: Wired",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1,
      "position": [
        340,
        420
      ],
      "continueOnFail": true,
      "parameters": {
        "url": "https://www.wired.com/feed/rss",
        "options": {
          "timeout": 15000
        }
      }
    },
    {
      "id": "f32189f7-f3af-4e07-993a-503d788ceae7",
      "name": "Tag 10: Wired",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        500,
        420
      ],
      "continueOnFail": true,
      "parameters": {
        "jsCode": "const src=\"Wired\";\nconst cat=\"technology\";\nconst cw=0.3;\nconst mech=\"tech_signal\";\nconst src_cred=0.76;\nreturn $input.all().map(i => {\n  const base = (i.json && typeof i.json === 'object') ? i.json : {};\n  return {json:{...base,source:src,category:cat,causal_weight:cw,mechanism:mech,source_credibility:src_cred}};\n});"
      }
    },
    {
      "id": "096b0b10-91c9-4865-93c1-33ea831606dd",
      "name": "RSS 11: Ars Technica",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1,
      "position": [
        660,
        420
      ],
      "continueOnFail": true,
      "parameters": {
        "url": "https://feeds.arstechnica.com/arstechnica/index",
        "options": {
          "timeout": 15000
        }
      }
    },
    {
      "id": "d39e745f-7eb1-43a4-bb0d-9b6e1eb098b4",
      "name": "Tag 11: Ars Technica",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        820,
        420
      ],
      "continueOnFail": true,
      "parameters": {
        "jsCode": "const src=\"Ars Technica\";\nconst cat=\"technology\";\nconst cw=0.3;\nconst mech=\"tech_signal\";\nconst src_cred=0.8;\nreturn $input.all().map(i => {\n  const base = (i.json && typeof i.json === 'object') ? i.json : {};\n  return {json:{...base,source:src,category:cat,causal_weight:cw,mechanism:mech,source_credibility:src_cred}};\n});"
      }
    },
    {
      "id": "c2dd4a21-f09d-40ab-87cc-dfbf89c7573c",
      "name": "RSS 12: MIT Tech Review",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1,
      "position": [
        980,
        420
      ],
      "continueOnFail": true,
      "parameters": {
        "url": "https://www.technologyreview.com/feed/",
        "options": {
          "timeout": 15000
        }
      }
    },
    {
      "id": "83a82469-44be-4600-93f8-82ac2d4a70c6",
      "name": "Tag 12: MIT Tech Review",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1140,
        420
      ],
      "continueOnFail": true,
      "parameters": {
        "jsCode": "const src=\"MIT Tech Review\";\nconst cat=\"ai\";\nconst cw=0.5;\nconst mech=\"research_signal\";\nconst src_cred=0.88;\nreturn $input.all().map(i => {\n  const base = (i.json && typeof i.json === 'object') ? i.json : {};\n  return {json:{...base,source:src,category:cat,causal_weight:cw,mechanism:mech,source_credibility:src_cred}};\n});"
      }
    },
    {
      "id": "e5318dd7-40f4-4392-8754-adce607b91d1",
      "name": "RSS 13: VentureBeat",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1,
      "position": [
        340,
        560
      ],
      "continueOnFail": true,
      "parameters": {
        "url": "https://venturebeat.com/feed/",
        "options": {
          "timeout": 15000
        }
      }
    },
    {
      "id": "bb792260-814c-4a82-9a17-14f5a281cdb0",
      "name": "Tag 13: VentureBeat",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        500,
        560
      ],
      "continueOnFail": true,
      "parameters": {
        "jsCode": "const src=\"VentureBeat\";\nconst cat=\"ai\";\nconst cw=0.4;\nconst mech=\"tech_signal\";\nconst src_cred=0.74;\nreturn $input.all().map(i => {\n  const base = (i.json && typeof i.json === 'object') ? i.json : {};\n  return {json:{...base,source:src,category:cat,causal_weight:cw,mechanism:mech,source_credibility:src_cred}};\n});"
      }
    },
    {
      "id": "54e1ddfc-8333-4e38-9ee1-738593e2a69d",
      "name": "RSS 14: The Verge",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1,
      "position": [
        660,
        560
      ],
      "continueOnFail": true,
      "parameters": {
        "url": "https://www.theverge.com/rss/index.xml",
        "options": {
          "timeout": 15000
        }
      }
    },
    {
      "id": "b21f01ec-2f5d-4ac3-8d2b-8edc1771e29f",
      "name": "Tag 14: The Verge",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        820,
        560
      ],
      "continueOnFail": true,
      "parameters": {
        "jsCode": "const src=\"The Verge\";\nconst cat=\"technology\";\nconst cw=0.3;\nconst mech=\"tech_signal\";\nconst src_cred=0.72;\nreturn $input.all().map(i => {\n  const base = (i.json && typeof i.json === 'object') ? i.json : {};\n  return {json:{...base,source:src,category:cat,causal_weight:cw,mechanism:mech,source_credibility:src_cred}};\n});"
      }
    },
    {
      "id": "99d4dbe8-3591-4931-9e01-eb9b467efb19",
      "name": "RSS 15: Fortune",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1,
      "position": [
        980,
        560
      ],
      "continueOnFail": true,
      "parameters": {
        "url": "https://fortune.com/feed/",
        "options": {
          "timeout": 15000
        }
      }
    },
    {
      "id": "195c5624-60f7-4eda-9946-e229a5b48acf",
      "name": "Tag 15: Fortune",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1140,
        560
      ],
      "continueOnFail": true,
      "parameters": {
        "jsCode": "const src=\"Fortune\";\nconst cat=\"business\";\nconst cw=0.4;\nconst mech=\"business_signal\";\nconst src_cred=0.8;\nreturn $input.all().map(i => {\n  const base = (i.json && typeof i.json === 'object') ? i.json : {};\n  return {json:{...base,source:src,category:cat,causal_weight:cw,mechanism:mech,source_credibility:src_cred}};\n});"
      }
    },
    {
      "id": "ab2e3414-b44c-434c-bc8a-d63c8a06bd6a",
      "name": "RSS 16: Economist Finance",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1,
      "position": [
        340,
        700
      ],
      "continueOnFail": true,
      "parameters": {
        "url": "https://www.economist.com/finance-and-economics/rss.xml",
        "options": {
          "timeout": 15000
        }
      }
    },
    {
      "id": "3e17ad85-08b9-4208-a2e1-0d8c4b4477f8",
      "name": "Tag 16: Economist Finance",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        500,
        700
      ],
      "continueOnFail": true,
      "parameters": {
        "jsCode": "const src=\"Economist Finance\";\nconst cat=\"economics\";\nconst cw=0.6;\nconst mech=\"macro_signal\";\nconst src_cred=0.93;\nreturn $input.all().map(i => {\n  const base = (i.json && typeof i.json === 'object') ? i.json : {};\n  return {json:{...base,source:src,category:cat,causal_weight:cw,mechanism:mech,source_credibility:src_cred}};\n});"
      }
    },
    {
      "id": "6c20b3f5-dbf8-418c-b41a-dc4bbba7e980",
      "name": "RSS 17: The Economist",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1,
      "position": [
        660,
        700
      ],
      "continueOnFail": true,
      "parameters": {
        "url": "https://www.economist.com/rss.xml",
        "options": {
          "timeout": 15000
        }
      }
    },
    {
      "id": "f7508c86-dacb-48cf-b798-cf6361095bf2",
      "name": "Tag 17: The Economist",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        820,
        700
      ],
      "continueOnFail": true,
      "parameters": {
        "jsCode": "const src=\"The Economist\";\nconst cat=\"economics\";\nconst cw=0.6;\nconst mech=\"macro_signal\";\nconst src_cred=0.93;\nreturn $input.all().map(i => {\n  const base = (i.json && typeof i.json === 'object') ? i.json : {};\n  return {json:{...base,source:src,category:cat,causal_weight:cw,mechanism:mech,source_credibility:src_cred}};\n});"
      }
    },
    {
      "id": "21432728-8d6e-4fe3-ae52-555aaa2e72ee",
      "name": "RSS 18: Inc Magazine",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1,
      "position": [
        980,
        700
      ],
      "continueOnFail": true,
      "parameters": {
        "url": "https://feeds.inc.com/magazine/rss",
        "options": {
          "timeout": 15000
        }
      }
    },
    {
      "id": "5e54eb69-834e-4c6c-b4d5-4da039e71aac",
      "name": "Tag 18: Inc Magazine",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1140,
        700
      ],
      "continueOnFail": true,
      "parameters": {
        "jsCode": "const src=\"Inc Magazine\";\nconst cat=\"business\";\nconst cw=0.3;\nconst mech=\"business_signal\";\nconst src_cred=0.68;\nreturn $input.all().map(i => {\n  const base = (i.json && typeof i.json === 'object') ? i.json : {};\n  return {json:{...base,source:src,category:cat,causal_weight:cw,mechanism:mech,source_credibility:src_cred}};\n});"
      }
    },
    {
      "id": "0df405ad-bcb4-42d4-84fb-c6fc58d017e5",
      "name": "RSS 19: Forbes Business",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1,
      "position": [
        340,
        840
      ],
      "continueOnFail": true,
      "parameters": {
        "url": "https://www.forbes.com/business/feed/",
        "options": {
          "timeout": 15000
        }
      }
    },
    {
      "id": "b6ee7cc5-3eb4-4aff-9947-f67598307c28",
      "name": "Tag 19: Forbes Business",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        500,
        840
      ],
      "continueOnFail": true,
      "parameters": {
        "jsCode": "const src=\"Forbes Business\";\nconst cat=\"business\";\nconst cw=0.4;\nconst mech=\"business_signal\";\nconst src_cred=0.74;\nreturn $input.all().map(i => {\n  const base = (i.json && typeof i.json === 'object') ? i.json : {};\n  return {json:{...base,source:src,category:cat,causal_weight:cw,mechanism:mech,source_credibility:src_cred}};\n});"
      }
    },
    {
      "id": "f6339f37-6e99-4a98-af48-009812ee71a6",
      "name": "RSS 20: Business Insider Tech",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1,
      "position": [
        660,
        840
      ],
      "continueOnFail": true,
      "parameters": {
        "url": "https://feeds.businessinsider.com/tech",
        "options": {
          "timeout": 15000
        }
      }
    },
    {
      "id": "6b0ae882-8756-4719-9299-c5133bf72221",
      "name": "Tag 20: Business Insider Tech",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        820,
        840
      ],
      "continueOnFail": true,
      "parameters": {
        "jsCode": "const src=\"Business Insider\";\nconst cat=\"business\";\nconst cw=0.3;\nconst mech=\"business_signal\";\nconst src_cred=0.7;\nreturn $input.all().map(i => {\n  const base = (i.json && typeof i.json === 'object') ? i.json : {};\n  return {json:{...base,source:src,category:cat,causal_weight:cw,mechanism:mech,source_credibility:src_cred}};\n});"
      }
    },
    {
      "id": "30c7f52f-beee-4319-90d3-c9020d1c2b69",
      "name": "RSS 21: BLS Price Indicators",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1,
      "position": [
        980,
        840
      ],
      "continueOnFail": true,
      "parameters": {
        "url": "https://www.bls.gov/feeds/news.release.pfi.htm",
        "options": {
          "timeout": 15000
        }
      }
    },
    {
      "id": "0cd06595-3ebf-406d-9717-30c92f632691",
      "name": "Tag 21: BLS Price Indicators",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1140,
        840
      ],
      "continueOnFail": true,
      "parameters": {
        "jsCode": "const src=\"BLS Indicators\";\nconst cat=\"economics\";\nconst cw=0.7;\nconst mech=\"macro_indicator\";\nconst src_cred=0.97;\nreturn $input.all().map(i => {\n  const base = (i.json && typeof i.json === 'object') ? i.json : {};\n  return {json:{...base,source:src,category:cat,causal_weight:cw,mechanism:mech,source_credibility:src_cred}};\n});"
      }
    },
    {
      "id": "678d8f6e-e715-4f90-bd54-5c5d575e1ee5",
      "name": "RSS 22: BLS JOLTS",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1,
      "position": [
        340,
        980
      ],
      "continueOnFail": true,
      "parameters": {
        "url": "https://www.bls.gov/feeds/news.release.jolts.htm",
        "options": {
          "timeout": 15000
        }
      }
    },
    {
      "id": "6514bb8b-dd2a-4528-a4d6-60acf8dc809f",
      "name": "Tag 22: BLS JOLTS",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        500,
        980
      ],
      "continueOnFail": true,
      "parameters": {
        "jsCode": "const src=\"BLS JOLTS\";\nconst cat=\"hiring\";\nconst cw=0.6;\nconst mech=\"labour_market_signal\";\nconst src_cred=0.97;\nreturn $input.all().map(i => {\n  const base = (i.json && typeof i.json === 'object') ? i.json : {};\n  return {json:{...base,source:src,category:cat,causal_weight:cw,mechanism:mech,source_credibility:src_cred}};\n});"
      }
    },
    {
      "id": "250eaa91-17b8-4831-a5a7-d3b885954eb6",
      "name": "RSS 23: BLS CPI",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1,
      "position": [
        660,
        980
      ],
      "continueOnFail": true,
      "parameters": {
        "url": "https://www.bls.gov/feeds/news.release.cpi.htm",
        "options": {
          "timeout": 15000
        }
      }
    },
    {
      "id": "d446b55d-5d87-49d9-9bc8-791cdcae670d",
      "name": "Tag 23: BLS CPI",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        820,
        980
      ],
      "continueOnFail": true,
      "parameters": {
        "jsCode": "const src=\"BLS CPI\";\nconst cat=\"consumer\";\nconst cw=0.8;\nconst mech=\"inflation_signal\";\nconst src_cred=0.97;\nreturn $input.all().map(i => {\n  const base = (i.json && typeof i.json === 'object') ? i.json : {};\n  return {json:{...base,source:src,category:cat,causal_weight:cw,mechanism:mech,source_credibility:src_cred}};\n});"
      }
    },
    {
      "id": "455fb768-ba75-4df2-b627-5ce0beb9e89a",
      "name": "RSS 24: Federal Reserve",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1,
      "position": [
        980,
        980
      ],
      "continueOnFail": true,
      "parameters": {
        "url": "https://www.federalreserve.gov/feeds/press_monetary.xml",
        "options": {
          "timeout": 15000
        }
      }
    },
    {
      "id": "c8e61e5e-aeb3-448c-ac3e-ddd489df52f3",
      "name": "Tag 24: Federal Reserve",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1140,
        980
      ],
      "continueOnFail": true,
      "parameters": {
        "jsCode": "const src=\"Federal Reserve\";\nconst cat=\"economics\";\nconst cw=0.9;\nconst mech=\"monetary_policy\";\nconst src_cred=0.99;\nreturn $input.all().map(i => {\n  const base = (i.json && typeof i.json === 'object') ? i.json : {};\n  return {json:{...base,source:src,category:cat,causal_weight:cw,mechanism:mech,source_credibility:src_cred}};\n});"
      }
    },
    {
      "id": "c8406c9d-a6b7-445b-b434-b9aeef21565d",
      "name": "RSS 25: ECB",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1,
      "position": [
        340,
        1120
      ],
      "continueOnFail": true,
      "parameters": {
        "url": "https://www.ecb.europa.eu/rss/press.html",
        "options": {
          "timeout": 15000
        }
      }
    },
    {
      "id": "400b0b3c-6190-400d-8013-98a36a610d9b",
      "name": "Tag 25: ECB",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        500,
        1120
      ],
      "continueOnFail": true,
      "parameters": {
        "jsCode": "const src=\"ECB\";\nconst cat=\"economics\";\nconst cw=0.9;\nconst mech=\"monetary_policy\";\nconst src_cred=0.99;\nreturn $input.all().map(i => {\n  const base = (i.json && typeof i.json === 'object') ? i.json : {};\n  return {json:{...base,source:src,category:cat,causal_weight:cw,mechanism:mech,source_credibility:src_cred}};\n});"
      }
    },
    {
      "id": "5a05d33d-4e21-4ce8-98b8-e0653ae178cb",
      "name": "RSS 26: Marginal Revolution",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1,
      "position": [
        660,
        1120
      ],
      "continueOnFail": true,
      "parameters": {
        "url": "https://feeds.feedburner.com/marginalrevolution",
        "options": {
          "timeout": 15000
        }
      }
    },
    {
      "id": "dfcc5c34-c39c-4d16-a1ca-2e6d10c96f3d",
      "name": "Tag 26: Marginal Revolution",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        820,
        1120
      ],
      "continueOnFail": true,
      "parameters": {
        "jsCode": "const src=\"Marginal Revolution\";\nconst cat=\"economics\";\nconst cw=0.4;\nconst mech=\"macro_signal\";\nconst src_cred=0.72;\nreturn $input.all().map(i => {\n  const base = (i.json && typeof i.json === 'object') ? i.json : {};\n  return {json:{...base,source:src,category:cat,causal_weight:cw,mechanism:mech,source_credibility:src_cred}};\n});"
      }
    },
    {
      "id": "ce2eef7e-512b-4eda-9aa9-11c09db55111",
      "name": "RSS 27: Project Syndicate",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1,
      "position": [
        980,
        1120
      ],
      "continueOnFail": true,
      "parameters": {
        "url": "https://www.project-syndicate.org/rss",
        "options": {
          "timeout": 15000
        }
      }
    },
    {
      "id": "aced6f1e-57e4-41a4-b6af-b89a6e1a2b3a",
      "name": "Tag 27: Project Syndicate",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1140,
        1120
      ],
      "continueOnFail": true,
      "parameters": {
        "jsCode": "const src=\"Project Syndicate\";\nconst cat=\"economics\";\nconst cw=0.5;\nconst mech=\"macro_signal\";\nconst src_cred=0.8;\nreturn $input.all().map(i => {\n  const base = (i.json && typeof i.json === 'object') ? i.json : {};\n  return {json:{...base,source:src,category:cat,causal_weight:cw,mechanism:mech,source_credibility:src_cred}};\n});"
      }
    },
    {
      "id": "009a1421-f157-4511-a393-4e89445ca1bc",
      "name": "RSS 28: Federal Register",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1,
      "position": [
        340,
        1260
      ],
      "continueOnFail": true,
      "parameters": {
        "url": "https://www.federalregister.gov/documents/search.rss?conditions[published_on]=today",
        "options": {
          "timeout": 15000
        }
      }
    },
    {
      "id": "98dd48cb-45b6-49bc-9cde-00b52a65f465",
      "name": "Tag 28: Federal Register",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        500,
        1260
      ],
      "continueOnFail": true,
      "parameters": {
        "jsCode": "const src=\"Federal Register\";\nconst cat=\"regulation\";\nconst cw=0.7;\nconst mech=\"regulatory_signal\";\nconst src_cred=0.99;\nreturn $input.all().map(i => {\n  const base = (i.json && typeof i.json === 'object') ? i.json : {};\n  return {json:{...base,source:src,category:cat,causal_weight:cw,mechanism:mech,source_credibility:src_cred}};\n});"
      }
    },
    {
      "id": "66cbb484-5423-4367-8dcb-80bc39383eed",
      "name": "RSS 29: UK Legislation",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1,
      "position": [
        660,
        1260
      ],
      "continueOnFail": true,
      "parameters": {
        "url": "https://www.legislation.gov.uk/ukpga/data.feed",
        "options": {
          "timeout": 15000
        }
      }
    },
    {
      "id": "551e09d8-9563-41f4-89fe-edd8c07de577",
      "name": "Tag 29: UK Legislation",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        820,
        1260
      ],
      "continueOnFail": true,
      "parameters": {
        "jsCode": "const src=\"UK Legislation\";\nconst cat=\"law\";\nconst cw=0.7;\nconst mech=\"regulatory_signal\";\nconst src_cred=0.99;\nreturn $input.all().map(i => {\n  const base = (i.json && typeof i.json === 'object') ? i.json : {};\n  return {json:{...base,source:src,category:cat,causal_weight:cw,mechanism:mech,source_credibility:src_cred}};\n});"
      }
    },
    {
      "id": "ebee28d3-ebe5-4164-987c-684745a942ff",
      "name": "RSS 30: EUR-Lex",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1,
      "position": [
        980,
        1260
      ],
      "continueOnFail": true,
      "parameters": {
        "url": "https://eur-lex.europa.eu/rss/en/oj_latest-l.rss",
        "options": {
          "timeout": 15000
        }
      }
    },
    {
      "id": "0f071135-2732-41fa-86f7-348dafe9bf98",
      "name": "Tag 30: EUR-Lex",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1140,
        1260
      ],
      "continueOnFail": true,
      "parameters": {
        "jsCode": "const src=\"EUR-Lex\";\nconst cat=\"regulation\";\nconst cw=0.7;\nconst mech=\"regulatory_signal\";\nconst src_cred=0.99;\nreturn $input.all().map(i => {\n  const base = (i.json && typeof i.json === 'object') ? i.json : {};\n  return {json:{...base,source:src,category:cat,causal_weight:cw,mechanism:mech,source_credibility:src_cred}};\n});"
      }
    },
    {
      "id": "b9df9747-ae22-48b9-a2cd-bf6c2c3d5f87",
      "name": "RSS 31: DataBreaches.net",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1,
      "position": [
        340,
        1400
      ],
      "continueOnFail": true,
      "parameters": {
        "url": "https://www.databreaches.net/feed/",
        "options": {
          "timeout": 15000
        }
      }
    },
    {
      "id": "cd401605-7dc5-4671-90d2-72f89c02c9b1",
      "name": "Tag 31: DataBreaches.net",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        500,
        1400
      ],
      "continueOnFail": true,
      "parameters": {
        "jsCode": "const src=\"DataBreaches.net\";\nconst cat=\"cybersecurity\";\nconst cw=0.6;\nconst mech=\"cyber_threat\";\nconst src_cred=0.78;\nreturn $input.all().map(i => {\n  const base = (i.json && typeof i.json === 'object') ? i.json : {};\n  return {json:{...base,source:src,category:cat,causal_weight:cw,mechanism:mech,source_credibility:src_cred}};\n});"
      }
    },
    {
      "id": "22824016-e398-4a2e-8f04-1259e93a6d82",
      "name": "RSS 32: UpGuard Breaches",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1,
      "position": [
        660,
        1400
      ],
      "continueOnFail": true,
      "parameters": {
        "url": "https://www.upguard.com/breaches/rss.xml",
        "options": {
          "timeout": 15000
        }
      }
    },
    {
      "id": "7376170a-f10e-4af3-bcf2-8217286bc48d",
      "name": "Tag 32: UpGuard Breaches",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        820,
        1400
      ],
      "continueOnFail": true,
      "parameters": {
        "jsCode": "const src=\"UpGuard\";\nconst cat=\"cybersecurity\";\nconst cw=0.6;\nconst mech=\"cyber_threat\";\nconst src_cred=0.8;\nreturn $input.all().map(i => {\n  const base = (i.json && typeof i.json === 'object') ? i.json : {};\n  return {json:{...base,source:src,category:cat,causal_weight:cw,mechanism:mech,source_credibility:src_cred}};\n});"
      }
    },
    {
      "id": "3270f4ab-2e2f-4564-b551-6298753a8485",
      "name": "RSS 33: Cooley M&A",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1,
      "position": [
        980,
        1400
      ],
      "continueOnFail": true,
      "parameters": {
        "url": "https://cooleyma.com/feed/",
        "options": {
          "timeout": 15000
        }
      }
    },
    {
      "id": "e5d2b4d8-b6ff-4a57-89f5-e9286c95bfbc",
      "name": "Tag 33: Cooley M&A",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1140,
        1400
      ],
      "continueOnFail": true,
      "parameters": {
        "jsCode": "const src=\"Cooley M&A\";\nconst cat=\"mergers_acquisitions\";\nconst cw=0.8;\nconst mech=\"ma_signal\";\nconst src_cred=0.85;\nreturn $input.all().map(i => {\n  const base = (i.json && typeof i.json === 'object') ? i.json : {};\n  return {json:{...base,source:src,category:cat,causal_weight:cw,mechanism:mech,source_credibility:src_cred}};\n});"
      }
    },
    {
      "id": "f61bb795-b04f-4ca3-a2a3-761a6bbace31",
      "name": "RSS 34: DealRoom",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1,
      "position": [
        340,
        1540
      ],
      "continueOnFail": true,
      "parameters": {
        "url": "https://dealroom.net/blog/rss.xml",
        "options": {
          "timeout": 15000
        }
      }
    },
    {
      "id": "0a303c72-cd1d-4cac-a617-2fd38979fe8a",
      "name": "Tag 34: DealRoom",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        500,
        1540
      ],
      "continueOnFail": true,
      "parameters": {
        "jsCode": "const src=\"DealRoom\";\nconst cat=\"mergers_acquisitions\";\nconst cw=0.8;\nconst mech=\"ma_signal\";\nconst src_cred=0.8;\nreturn $input.all().map(i => {\n  const base = (i.json && typeof i.json === 'object') ? i.json : {};\n  return {json:{...base,source:src,category:cat,causal_weight:cw,mechanism:mech,source_credibility:src_cred}};\n});"
      }
    },
    {
      "id": "692bca73-14ca-453b-bde9-abeb1aa66a39",
      "name": "RSS 35: arXiv CS",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1,
      "position": [
        660,
        1540
      ],
      "continueOnFail": true,
      "parameters": {
        "url": "https://export.arxiv.org/rss/cs",
        "options": {
          "timeout": 15000
        }
      }
    },
    {
      "id": "9adb0a06-1415-481e-92fa-74f0a5a3e828",
      "name": "Tag 35: arXiv CS",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        820,
        1540
      ],
      "continueOnFail": true,
      "parameters": {
        "jsCode": "const src=\"arXiv CS\";\nconst cat=\"research\";\nconst cw=0.4;\nconst mech=\"research_signal\";\nconst src_cred=0.9;\nreturn $input.all().map(i => {\n  const base = (i.json && typeof i.json === 'object') ? i.json : {};\n  return {json:{...base,source:src,category:cat,causal_weight:cw,mechanism:mech,source_credibility:src_cred}};\n});"
      }
    },
    {
      "id": "7538864f-1f21-40ea-8a2f-74464608291d",
      "name": "RSS 36: arXiv Economics",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1,
      "position": [
        980,
        1540
      ],
      "continueOnFail": true,
      "parameters": {
        "url": "https://export.arxiv.org/rss/econ",
        "options": {
          "timeout": 15000
        }
      }
    },
    {
      "id": "b82e32e2-cd12-402e-b64d-c49f3ace48c1",
      "name": "Tag 36: arXiv Economics",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1140,
        1540
      ],
      "continueOnFail": true,
      "parameters": {
        "jsCode": "const src=\"arXiv Economics\";\nconst cat=\"research\";\nconst cw=0.4;\nconst mech=\"research_signal\";\nconst src_cred=0.9;\nreturn $input.all().map(i => {\n  const base = (i.json && typeof i.json === 'object') ? i.json : {};\n  return {json:{...base,source:src,category:cat,causal_weight:cw,mechanism:mech,source_credibility:src_cred}};\n});"
      }
    },
    {
      "id": "7aa1696b-0dbf-485c-8419-26e4f630923c",
      "name": "RSS 37: arXiv ML",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1,
      "position": [
        340,
        1680
      ],
      "continueOnFail": true,
      "parameters": {
        "url": "https://export.arxiv.org/rss/stat.ML",
        "options": {
          "timeout": 15000
        }
      }
    },
    {
      "id": "7c32fbaa-90c3-4578-bcf7-1c86d2936ac6",
      "name": "Tag 37: arXiv ML",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        500,
        1680
      ],
      "continueOnFail": true,
      "parameters": {
        "jsCode": "const src=\"arXiv ML\";\nconst cat=\"ai\";\nconst cw=0.5;\nconst mech=\"research_signal\";\nconst src_cred=0.9;\nreturn $input.all().map(i => {\n  const base = (i.json && typeof i.json === 'object') ? i.json : {};\n  return {json:{...base,source:src,category:cat,causal_weight:cw,mechanism:mech,source_credibility:src_cred}};\n});"
      }
    },
    {
      "id": "3d35286b-8c2f-4927-b4b2-7ec31789455f",
      "name": "RSS 38: arXiv Biology",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1,
      "position": [
        660,
        1680
      ],
      "continueOnFail": true,
      "parameters": {
        "url": "https://export.arxiv.org/rss/q-bio",
        "options": {
          "timeout": 15000
        }
      }
    },
    {
      "id": "6a885483-297a-4dc5-96a5-3a2c75f33856",
      "name": "Tag 38: arXiv Biology",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        820,
        1680
      ],
      "continueOnFail": true,
      "parameters": {
        "jsCode": "const src=\"arXiv Biology\";\nconst cat=\"biotech\";\nconst cw=0.4;\nconst mech=\"research_signal\";\nconst src_cred=0.9;\nreturn $input.all().map(i => {\n  const base = (i.json && typeof i.json === 'object') ? i.json : {};\n  return {json:{...base,source:src,category:cat,causal_weight:cw,mechanism:mech,source_credibility:src_cred}};\n});"
      }
    },
    {
      "id": "40cca21b-2c31-4f0d-9e31-b01c52eb1215",
      "name": "RSS 39: HubSpot Marketing",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1,
      "position": [
        980,
        1680
      ],
      "continueOnFail": true,
      "parameters": {
        "url": "https://blog.hubspot.com/marketing/rss.xml",
        "options": {
          "timeout": 15000
        }
      }
    },
    {
      "id": "72bf7d9a-277d-4e25-97be-5356245ace6b",
      "name": "Tag 39: HubSpot Marketing",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1140,
        1680
      ],
      "continueOnFail": true,
      "parameters": {
        "jsCode": "const src=\"HubSpot Marketing\";\nconst cat=\"marketing\";\nconst cw=0.2;\nconst mech=\"market_signal\";\nconst src_cred=0.65;\nreturn $input.all().map(i => {\n  const base = (i.json && typeof i.json === 'object') ? i.json : {};\n  return {json:{...base,source:src,category:cat,causal_weight:cw,mechanism:mech,source_credibility:src_cred}};\n});"
      }
    },
    {
      "id": "16721571-25bc-42f7-bb8e-3b61e6c063f5",
      "name": "RSS 40: HubSpot Sales",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1,
      "position": [
        340,
        1820
      ],
      "continueOnFail": true,
      "parameters": {
        "url": "https://blog.hubspot.com/sales/rss.xml",
        "options": {
          "timeout": 15000
        }
      }
    },
    {
      "id": "7b5ff85c-e450-439b-8576-fbe0ec377845",
      "name": "Tag 40: HubSpot Sales",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        500,
        1820
      ],
      "continueOnFail": true,
      "parameters": {
        "jsCode": "const src=\"HubSpot Sales\";\nconst cat=\"sales\";\nconst cw=0.2;\nconst mech=\"market_signal\";\nconst src_cred=0.65;\nreturn $input.all().map(i => {\n  const base = (i.json && typeof i.json === 'object') ? i.json : {};\n  return {json:{...base,source:src,category:cat,causal_weight:cw,mechanism:mech,source_credibility:src_cred}};\n});"
      }
    },
    {
      "id": "ceca15e8-0eb1-4d57-aa75-5a5d0407ff31",
      "name": "RSS 41: Neil Patel",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1,
      "position": [
        660,
        1820
      ],
      "continueOnFail": true,
      "parameters": {
        "url": "https://neilpatel.com/blog/feed/",
        "options": {
          "timeout": 15000
        }
      }
    },
    {
      "id": "214e0e26-312c-4345-bdc5-602fe948b673",
      "name": "Tag 41: Neil Patel",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        820,
        1820
      ],
      "continueOnFail": true,
      "parameters": {
        "jsCode": "const src=\"Neil Patel\";\nconst cat=\"marketing\";\nconst cw=0.2;\nconst mech=\"market_signal\";\nconst src_cred=0.6;\nreturn $input.all().map(i => {\n  const base = (i.json && typeof i.json === 'object') ? i.json : {};\n  return {json:{...base,source:src,category:cat,causal_weight:cw,mechanism:mech,source_credibility:src_cred}};\n});"
      }
    },
    {
      "id": "62733879-d14b-47c3-a41e-b78b48b28e97",
      "name": "RSS 42: Sales Hacker",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1,
      "position": [
        980,
        1820
      ],
      "continueOnFail": true,
      "parameters": {
        "url": "https://www.saleshacker.com/feed/",
        "options": {
          "timeout": 15000
        }
      }
    },
    {
      "id": "e2fe7bea-e76b-4e3f-ac34-f14d670b2449",
      "name": "Tag 42: Sales Hacker",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1140,
        1820
      ],
      "continueOnFail": true,
      "parameters": {
        "jsCode": "const src=\"Sales Hacker\";\nconst cat=\"sales\";\nconst cw=0.2;\nconst mech=\"market_signal\";\nconst src_cred=0.65;\nreturn $input.all().map(i => {\n  const base = (i.json && typeof i.json === 'object') ? i.json : {};\n  return {json:{...base,source:src,category:cat,causal_weight:cw,mechanism:mech,source_credibility:src_cred}};\n});"
      }
    },
    {
      "id": "389fbf1a-e111-4d84-80be-499d1d2c5406",
      "name": "RSS 43: Gong Blog",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1,
      "position": [
        340,
        1960
      ],
      "continueOnFail": true,
      "parameters": {
        "url": "https://blog.gong.io/feed/",
        "options": {
          "timeout": 15000
        }
      }
    },
    {
      "id": "f3ea42e8-ea44-4d13-8d09-a7781995ce62",
      "name": "Tag 43: Gong Blog",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        500,
        1960
      ],
      "continueOnFail": true,
      "parameters": {
        "jsCode": "const src=\"Gong\";\nconst cat=\"sales\";\nconst cw=0.2;\nconst mech=\"market_signal\";\nconst src_cred=0.65;\nreturn $input.all().map(i => {\n  const base = (i.json && typeof i.json === 'object') ? i.json : {};\n  return {json:{...base,source:src,category:cat,causal_weight:cw,mechanism:mech,source_credibility:src_cred}};\n});"
      }
    },
    {
      "id": "d3be6736-93ee-4c17-84b6-4a12cfdc71e2",
      "name": "RSS 44: Close CRM Blog",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1,
      "position": [
        660,
        1960
      ],
      "continueOnFail": true,
      "parameters": {
        "url": "https://blog.close.com/rss/",
        "options": {
          "timeout": 15000
        }
      }
    },
    {
      "id": "25f3e6e8-efcd-4b9f-b79a-2a7a10e9fcb1",
      "name": "Tag 44: Close CRM Blog",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        820,
        1960
      ],
      "continueOnFail": true,
      "parameters": {
        "jsCode": "const src=\"Close CRM\";\nconst cat=\"sales\";\nconst cw=0.2;\nconst mech=\"market_signal\";\nconst src_cred=0.65;\nreturn $input.all().map(i => {\n  const base = (i.json && typeof i.json === 'object') ? i.json : {};\n  return {json:{...base,source:src,category:cat,causal_weight:cw,mechanism:mech,source_credibility:src_cred}};\n});"
      }
    },
    {
      "id": "2ef48c6f-e3ef-47db-9f86-bb8e4d7a157b",
      "name": "RSS 45: Psychology Today",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1,
      "position": [
        980,
        1960
      ],
      "continueOnFail": true,
      "parameters": {
        "url": "https://www.psychologytoday.com/intl/rss",
        "options": {
          "timeout": 15000
        }
      }
    },
    {
      "id": "aff47498-6c04-44a0-a098-d29989bc03fc",
      "name": "Tag 45: Psychology Today",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1140,
        1960
      ],
      "continueOnFail": true,
      "parameters": {
        "jsCode": "const src=\"Psychology Today\";\nconst cat=\"psychology\";\nconst cw=0.2;\nconst mech=\"social_signal\";\nconst src_cred=0.72;\nreturn $input.all().map(i => {\n  const base = (i.json && typeof i.json === 'object') ? i.json : {};\n  return {json:{...base,source:src,category:cat,causal_weight:cw,mechanism:mech,source_credibility:src_cred}};\n});"
      }
    },
    {
      "id": "057523de-a778-489d-b4b1-ad7385002789",
      "name": "RSS 46: Behavioral Scientist",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1,
      "position": [
        340,
        2100
      ],
      "continueOnFail": true,
      "parameters": {
        "url": "https://behavioralscientist.org/feed/",
        "options": {
          "timeout": 15000
        }
      }
    },
    {
      "id": "3a245e38-6424-4a7b-bd5d-29a392f24cf0",
      "name": "Tag 46: Behavioral Scientist",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        500,
        2100
      ],
      "continueOnFail": true,
      "parameters": {
        "jsCode": "const src=\"Behavioral Scientist\";\nconst cat=\"psychology\";\nconst cw=0.3;\nconst mech=\"social_signal\";\nconst src_cred=0.78;\nreturn $input.all().map(i => {\n  const base = (i.json && typeof i.json === 'object') ? i.json : {};\n  return {json:{...base,source:src,category:cat,causal_weight:cw,mechanism:mech,source_credibility:src_cred}};\n});"
      }
    },
    {
      "id": "cc6fb105-e2b4-4fe0-9a3a-8a21fd8c99c1",
      "name": "RSS 47: Scientific American",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1,
      "position": [
        660,
        2100
      ],
      "continueOnFail": true,
      "parameters": {
        "url": "https://www.scientificamerican.com/feed/category/the-sciences",
        "options": {
          "timeout": 15000
        }
      }
    },
    {
      "id": "fa04ea1c-c445-4b8c-924c-13bb5a1b629b",
      "name": "Tag 47: Scientific American",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        820,
        2100
      ],
      "continueOnFail": true,
      "parameters": {
        "jsCode": "const src=\"Scientific American\";\nconst cat=\"science\";\nconst cw=0.3;\nconst mech=\"research_signal\";\nconst src_cred=0.88;\nreturn $input.all().map(i => {\n  const base = (i.json && typeof i.json === 'object') ? i.json : {};\n  return {json:{...base,source:src,category:cat,causal_weight:cw,mechanism:mech,source_credibility:src_cred}};\n});"
      }
    },
    {
      "id": "f386afa4-fe9e-4441-918d-2241547101b2",
      "name": "RSS 48: Crunchbase News",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1,
      "position": [
        980,
        2100
      ],
      "continueOnFail": true,
      "parameters": {
        "url": "https://news.crunchbase.com/feed/",
        "options": {
          "timeout": 15000
        }
      }
    },
    {
      "id": "47223000-93f2-4526-aa91-0d9680bccbff",
      "name": "Tag 48: Crunchbase News",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1140,
        2100
      ],
      "continueOnFail": true,
      "parameters": {
        "jsCode": "const src=\"Crunchbase News\";\nconst cat=\"venture_capital\";\nconst cw=0.7;\nconst mech=\"funding_event\";\nconst src_cred=0.82;\nreturn $input.all().map(i => {\n  const base = (i.json && typeof i.json === 'object') ? i.json : {};\n  return {json:{...base,source:src,category:cat,causal_weight:cw,mechanism:mech,source_credibility:src_cred}};\n});"
      }
    },
    {
      "id": "bd38132b-3243-4c18-80ed-c7ef9fb2f290",
      "name": "RSS 49: a16z Blog",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1,
      "position": [
        340,
        2240
      ],
      "continueOnFail": true,
      "parameters": {
        "url": "https://a16z.com/feed/",
        "options": {
          "timeout": 15000
        }
      }
    },
    {
      "id": "8ab6a50b-b6e2-4f9e-9cc3-bef83f2dd5f7",
      "name": "Tag 49: a16z Blog",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        500,
        2240
      ],
      "continueOnFail": true,
      "parameters": {
        "jsCode": "const src=\"a16z\";\nconst cat=\"venture_capital\";\nconst cw=0.6;\nconst mech=\"funding_event\";\nconst src_cred=0.85;\nreturn $input.all().map(i => {\n  const base = (i.json && typeof i.json === 'object') ? i.json : {};\n  return {json:{...base,source:src,category:cat,causal_weight:cw,mechanism:mech,source_credibility:src_cred}};\n});"
      }
    },
    {
      "id": "98c5e9bd-515f-4c6e-a4eb-d6e2fcd0da2d",
      "name": "RSS 50: Y Combinator Blog",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1,
      "position": [
        660,
        2240
      ],
      "continueOnFail": true,
      "parameters": {
        "url": "https://www.ycombinator.com/blog/rss",
        "options": {
          "timeout": 15000
        }
      }
    },
    {
      "id": "359a9b97-b307-4541-9bf5-79646d760b14",
      "name": "Tag 50: Y Combinator Blog",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        820,
        2240
      ],
      "continueOnFail": true,
      "parameters": {
        "jsCode": "const src=\"Y Combinator\";\nconst cat=\"startups\";\nconst cw=0.7;\nconst mech=\"startup_signal\";\nconst src_cred=0.88;\nreturn $input.all().map(i => {\n  const base = (i.json && typeof i.json === 'object') ? i.json : {};\n  return {json:{...base,source:src,category:cat,causal_weight:cw,mechanism:mech,source_credibility:src_cred}};\n});"
      }
    },
    {
      "id": "6f44f7c3-3241-41f9-a6b9-465634a3f635",
      "name": "RSS 51: MIT Sloan Review",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1,
      "position": [
        980,
        2240
      ],
      "continueOnFail": true,
      "parameters": {
        "url": "https://sloanreview.mit.edu/feed/",
        "options": {
          "timeout": 15000
        }
      }
    },
    {
      "id": "a39f5893-485a-49e2-92c4-c77dc6aa2859",
      "name": "Tag 51: MIT Sloan Review",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1140,
        2240
      ],
      "continueOnFail": true,
      "parameters": {
        "jsCode": "const src=\"MIT Sloan\";\nconst cat=\"management\";\nconst cw=0.3;\nconst mech=\"management_signal\";\nconst src_cred=0.85;\nreturn $input.all().map(i => {\n  const base = (i.json && typeof i.json === 'object') ? i.json : {};\n  return {json:{...base,source:src,category:cat,causal_weight:cw,mechanism:mech,source_credibility:src_cred}};\n});"
      }
    },
    {
      "id": "b26702f9-9b18-4d1e-bee1-c573bd62fc20",
      "name": "RSS 52: McKinsey Insights",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1,
      "position": [
        340,
        2380
      ],
      "continueOnFail": true,
      "parameters": {
        "url": "https://www.mckinsey.com/feeds/rss",
        "options": {
          "timeout": 15000
        }
      }
    },
    {
      "id": "3fe14be9-7ae3-42e3-a6f3-75cd6c24f553",
      "name": "Tag 52: McKinsey Insights",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        500,
        2380
      ],
      "continueOnFail": true,
      "parameters": {
        "jsCode": "const src=\"McKinsey\";\nconst cat=\"management\";\nconst cw=0.4;\nconst mech=\"management_signal\";\nconst src_cred=0.82;\nreturn $input.all().map(i => {\n  const base = (i.json && typeof i.json === 'object') ? i.json : {};\n  return {json:{...base,source:src,category:cat,causal_weight:cw,mechanism:mech,source_credibility:src_cred}};\n});"
      }
    },
    {
      "id": "a8317b2f-908d-43e9-8ab1-b7096ad1d329",
      "name": "RSS 53: OPEC",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1,
      "position": [
        660,
        2380
      ],
      "continueOnFail": true,
      "parameters": {
        "url": "https://www.opec.org/opec_web/en/pressroom.rss",
        "options": {
          "timeout": 15000
        }
      }
    },
    {
      "id": "b708daf6-0f09-4001-b050-c4354f1181ec",
      "name": "Tag 53: OPEC",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        820,
        2380
      ],
      "continueOnFail": true,
      "parameters": {
        "jsCode": "const src=\"OPEC\";\nconst cat=\"energy\";\nconst cw=0.8;\nconst mech=\"energy_supply_signal\";\nconst src_cred=0.95;\nreturn $input.all().map(i => {\n  const base = (i.json && typeof i.json === 'object') ? i.json : {};\n  return {json:{...base,source:src,category:cat,causal_weight:cw,mechanism:mech,source_credibility:src_cred}};\n});"
      }
    },
    {
      "id": "a392fe90-59eb-4b93-824e-affd95347584",
      "name": "RSS 54: Responsible Investor",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1,
      "position": [
        980,
        2380
      ],
      "continueOnFail": true,
      "parameters": {
        "url": "https://www.responsible-investor.com/rss",
        "options": {
          "timeout": 15000
        }
      }
    },
    {
      "id": "f4a13733-73b5-4042-9517-98ce4362c840",
      "name": "Tag 54: Responsible Investor",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1140,
        2380
      ],
      "continueOnFail": true,
      "parameters": {
        "jsCode": "const src=\"Responsible Investor\";\nconst cat=\"esg\";\nconst cw=0.4;\nconst mech=\"esg_signal\";\nconst src_cred=0.76;\nreturn $input.all().map(i => {\n  const base = (i.json && typeof i.json === 'object') ? i.json : {};\n  return {json:{...base,source:src,category:cat,causal_weight:cw,mechanism:mech,source_credibility:src_cred}};\n});"
      }
    },
    {
      "id": "6cb2ba57-e10a-4500-a267-1603a12fd9ea",
      "name": "RSS 55: CoinTelegraph",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1,
      "position": [
        340,
        2520
      ],
      "continueOnFail": true,
      "parameters": {
        "url": "https://cointelegraph.com/rss",
        "options": {
          "timeout": 15000
        }
      }
    },
    {
      "id": "f953b6e2-f031-442f-b5d1-03a5c4ef6580",
      "name": "Tag 55: CoinTelegraph",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        500,
        2520
      ],
      "continueOnFail": true,
      "parameters": {
        "jsCode": "const src=\"CoinTelegraph\";\nconst cat=\"crypto\";\nconst cw=0.5;\nconst mech=\"crypto_signal\";\nconst src_cred=0.68;\nreturn $input.all().map(i => {\n  const base = (i.json && typeof i.json === 'object') ? i.json : {};\n  return {json:{...base,source:src,category:cat,causal_weight:cw,mechanism:mech,source_credibility:src_cred}};\n});"
      }
    },
    {
      "id": "8906e414-6c83-4304-a793-bebf16383c56",
      "name": "RSS 56: Supply Chain Digital",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1,
      "position": [
        660,
        2520
      ],
      "continueOnFail": true,
      "parameters": {
        "url": "https://www.supplychaindigital.com/rss",
        "options": {
          "timeout": 15000
        }
      }
    },
    {
      "id": "4ce63e3a-4fdc-44d3-b2ba-ed71a2aee49b",
      "name": "Tag 56: Supply Chain Digital",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        820,
        2520
      ],
      "continueOnFail": true,
      "parameters": {
        "jsCode": "const src=\"Supply Chain Digital\";\nconst cat=\"supply_chain\";\nconst cw=0.6;\nconst mech=\"supply_chain_signal\";\nconst src_cred=0.74;\nreturn $input.all().map(i => {\n  const base = (i.json && typeof i.json === 'object') ? i.json : {};\n  return {json:{...base,source:src,category:cat,causal_weight:cw,mechanism:mech,source_credibility:src_cred}};\n});"
      }
    },
    {
      "id": "2c953cef-f655-421b-980c-ac7f823f3f7d",
      "name": "RSS 57: Hootsuite Blog",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1,
      "position": [
        980,
        2520
      ],
      "continueOnFail": true,
      "parameters": {
        "url": "https://blog.hootsuite.com/feed/",
        "options": {
          "timeout": 15000
        }
      }
    },
    {
      "id": "5fff0959-278c-47c2-aed1-f38bbe31dacf",
      "name": "Tag 57: Hootsuite Blog",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1140,
        2520
      ],
      "continueOnFail": true,
      "parameters": {
        "jsCode": "const src=\"Hootsuite\";\nconst cat=\"marketing\";\nconst cw=0.2;\nconst mech=\"market_signal\";\nconst src_cred=0.65;\nreturn $input.all().map(i => {\n  const base = (i.json && typeof i.json === 'object') ? i.json : {};\n  return {json:{...base,source:src,category:cat,causal_weight:cw,mechanism:mech,source_credibility:src_cred}};\n});"
      }
    },
    {
      "id": "5c6a404c-53ca-4108-bae4-67bb6f2c0815",
      "name": "Merge All Feeds",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2.1,
      "position": [
        1500,
        1330
      ],
      "parameters": {
        "mode": "append"
      }
    },
    {
      "id": "b5aa8069-0c71-4c8d-acc5-40c6e7cdafb0",
      "name": "Normalize to Graph Entities",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1800,
        1330
      ],
      "parameters": {
        "jsCode": "const items = $input.all();\nconst results = [];\n\nconst TYPE_MAP = {\n  world_news: 'political_event', geopolitics: 'political_event',\n  technology: 'technology', ai: 'technology', biotech: 'technology',\n  research: 'technology', science: 'technology',\n  startups: 'company', venture_capital: 'company', business: 'company',\n  marketing: 'company', sales: 'company', management: 'company',\n  economics: 'economic_event', hiring: 'economic_event', consumer: 'economic_event',\n  mergers_acquisitions: 'economic_event', esg: 'economic_event',\n  regulation: 'government_body', law: 'government_body',\n  cybersecurity: 'conflict_event',\n  energy: 'commodity_flow',\n  crypto: 'financial_instrument',\n  supply_chain: 'supply_chain',\n  psychology: 'social_movement',\n};\n\nfunction extractMentions(text) {\n  const matches = text.match(/\\b([A-Z][a-z]+(?: [A-Z][a-z]+){1,3})\\b/g) || [];\n  return [...new Set(matches)].slice(0, 4);\n}\n\n// Bayesian confidence: source_credibility * recency_decay\n// corroboration_factor starts at 1.0 (graph will update as more sources confirm)\nfunction computeConfidence(sourceCred, pubDate) {\n  const now = Date.now();\n  const pub = pubDate ? new Date(pubDate).getTime() : now;\n  const ageHours = Math.max(0, (now - pub) / 3600000);\n  const recencyDecay = Math.exp(-0.02 * ageHours); // half-life ~35 hours\n  return Math.round(sourceCred * recencyDecay * 100) / 100;\n}\n\nfor (const item of items) {\n  const a = item.json;\n  if (!a || typeof a !== 'object' || !a.title || !a.source) continue;\n\n  const title = String(a.title).trim().substring(0, 200);\n  const category = a.category || 'world_news';\n  const source = a.source;\n  const url = a.link || a.url || '';\n  const published = a.pubDate || a.isoDate || new Date().toISOString();\n  const causal_weight = typeof a.causal_weight === 'number' ? a.causal_weight : 0.3;\n  const mechanism = a.mechanism || 'news_signal';\n  const source_credibility = typeof a.source_credibility === 'number' ? a.source_credibility : 0.7;\n\n  const description = String(a.content || a.contentSnippet || a.summary || '')\n    .replace(/<[^>]*>/g, '')\n    .replace(/&amp;/g, '&').replace(/&lt;/g, '<').replace(/&gt;/g, '>').replace(/&quot;/g, '\"')\n    .substring(0, 600);\n\n  const entityType = TYPE_MAP[category] || 'political_event';\n  const confidence = computeConfidence(source_credibility, published);\n\n  const relationships = [{\n    targetName: source,\n    targetType: 'company',\n    targetProperties: { domain: 'media', category },\n    relation: 'cited_by',\n    confidence: 0.95,\n    causal_weight: 0.1,\n    mechanism: 'media_attribution'\n  }];\n\n  const mentions = extractMentions(title + ' ' + description.substring(0, 200));\n  for (const mention of mentions) {\n    relationships.push({\n      targetName: mention,\n      targetType: 'person',\n      relation: 'related_to',\n      confidence: 0.4,\n      causal_weight: causal_weight * 0.5,\n      mechanism\n    });\n  }\n\n  results.push({ json: {\n    name: title,\n    type: entityType,\n    properties: {\n      url,\n      description: description.substring(0, 500),\n      category,\n      published,\n      source_credibility,\n      provenance: [source],\n      valid_from: published\n    },\n    relationships,\n    source,\n    confidence,\n    causal_weight,\n    mechanism,\n    // Pass full text for LLM causal extraction downstream\n    _raw_text: (title + '. ' + description).substring(0, 1500)\n  }});\n}\n\nreturn results.length > 0 ? results : [{\n  json: {\n    name: 'empty', type: 'political_event', source: 'system',\n    properties: {}, relationships: [], confidence: 0,\n    causal_weight: 0, mechanism: 'none', _empty: true\n  }\n}];"
      }
    },
    {
      "id": "17a6d54d-db70-4199-8af4-a59c79910e58",
      "name": "LLM Causal Extraction",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2100,
        1330
      ],
      "continueOnFail": true,
      "parameters": {
        "jsCode": "const items = $input.all();\nconst results = [];\n\nconst SCHEMA = {\n  type: 'object',\n  properties: {\n    causal_triples: {\n      type: 'array',\n      items: {\n        type: 'object',\n        required: ['cause', 'effect', 'attribution_type', 'causal_weight', 'mechanism', 'evidence_span'],\n        properties: {\n          cause:            { type: 'string', description: 'The causing entity or event (name only)' },\n          effect:           { type: 'string', description: 'The resulting entity or event (name only)' },\n          attribution_type: { type: 'string', enum: ['clear', 'indirect', 'ambiguous'] },\n          causal_weight:    { type: 'number', minimum: 0, maximum: 1 },\n          mechanism:        { type: 'string', description: 'Short causal mechanism label' },\n          evidence_span:    { type: 'string', description: 'Exact quote from text supporting this causal claim' }\n        }\n      }\n    },\n    abstain: { type: 'boolean', description: 'Set true if no causal relationship can be identified' }\n  },\n  required: ['causal_triples', 'abstain']\n};\n\nconst OPENAI_BASE = 'https://api.openai.com/v1';\nconst API_KEY = $env.OPENAI_API_KEY || '';\n\nasync function extractCausal(text, entityName) {\n  if (!API_KEY || !text || text.length < 50) return null;\n\n  const prompt = `You are a causal intelligence analyst. Extract causal relationships from the following news text.\n\nRules:\n- Only extract relationships where one entity or event CAUSES or significantly influences another\n- Do NOT extract mere co-occurrence or correlation\n- For each causal triple, cite the exact text span that supports it\n- If no clear causal relationship exists, set abstain=true and return empty causal_triples array\n- attribution_type: \"clear\" = direct stated causation, \"indirect\" = implied through mechanism, \"ambiguous\" = uncertain\n\nText: \"${text.substring(0, 1200)}\"\n\nRespond ONLY with valid JSON matching the schema. No explanation.`;\n\n  try {\n    const resp = await $http.request({\n      method: 'POST',\n      url: `${OPENAI_BASE}/chat/completions`,\n      headers: {\n        'Authorization': `Bearer ${API_KEY}`,\n        'Content-Type': 'application/json'\n      },\n      body: JSON.stringify({\n        model: 'gpt-4.1-mini',\n        messages: [{ role: 'user', content: prompt }],\n        response_format: { type: 'json_object' },\n        max_tokens: 600,\n        temperature: 0.1\n      })\n    });\n\n    const raw = resp.choices?.[0]?.message?.content;\n    if (!raw) return null;\n    const parsed = JSON.parse(raw);\n    if (parsed.abstain || !Array.isArray(parsed.causal_triples)) return null;\n    return parsed.causal_triples.filter(t =>\n      t.cause && t.effect && t.attribution_type && typeof t.causal_weight === 'number'\n    );\n  } catch (e) {\n    return null;\n  }\n}\n\nfor (const item of items) {\n  const a = item.json;\n  if (!a || typeof a !== 'object' || a._empty) {\n    results.push(item);\n    continue;\n  }\n\n  const text = a._raw_text || (a.name + '. ' + (a.properties?.description || ''));\n  const triples = await extractCausal(text, a.name);\n\n  // Merge causal triples into relationships\n  const enrichedRelationships = [...(a.relationships || [])];\n  if (triples && triples.length > 0) {\n    for (const t of triples) {\n      enrichedRelationships.push({\n        targetName: t.effect,\n        targetType: 'political_event',\n        relation: 'causes',\n        confidence: a.confidence * t.causal_weight,\n        causal_weight: t.causal_weight,\n        mechanism: t.mechanism || a.mechanism,\n        attribution_type: t.attribution_type,\n        evidence_span: t.evidence_span?.substring(0, 300) || ''\n      });\n    }\n  }\n\n  // Remove internal _raw_text before sending to graph\n  const { _raw_text, ...cleanEntity } = a;\n  results.push({ json: { ...cleanEntity, relationships: enrichedRelationships } });\n}\n\nreturn results.length > 0 ? results : [{ json: { name: 'empty', type: 'political_event', source: 'system', properties: {}, relationships: [], confidence: 0, causal_weight: 0, mechanism: 'none', _empty: true } }];"
      }
    },
    {
      "id": "3f0ee455-b7b0-47d4-90f7-b457e833ac6d",
      "name": "Wikidata Q-ID Grounding",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2400,
        1330
      ],
      "continueOnFail": true,
      "parameters": {
        "jsCode": "const items = $input.all();\nconst results = [];\n\nasync function resolveQID(name) {\n  if (!name || name.length < 3) return null;\n  try {\n    const encoded = encodeURIComponent(name);\n    const url = `https://www.wikidata.org/w/api.php?action=wbsearchentities&search=${encoded}&language=en&limit=1&format=json&origin=*`;\n    const resp = await $http.request({ method: 'GET', url });\n    const hits = resp.search;\n    if (hits && hits.length > 0) return hits[0].id; // e.g. \"Q312\"\n    return null;\n  } catch (e) {\n    return null;\n  }\n}\n\nfor (const item of items) {\n  const a = item.json;\n  if (!a || typeof a !== 'object' || a._empty) {\n    results.push(item);\n    continue;\n  }\n\n  // Only resolve for high-confidence, named entities worth grounding\n  if (a.confidence >= 0.5 && a.name && a.name.length > 3 && a.name !== 'empty') {\n    const qid = await resolveQID(a.name);\n    if (qid) {\n      results.push({ json: {\n        ...a,\n        properties: { ...a.properties, wikidata_qid: qid }\n      }});\n      continue;\n    }\n  }\n  results.push(item);\n}\n\nreturn results.length > 0 ? results : [{ json: { name: 'empty', type: 'political_event', source: 'system', properties: {}, relationships: [], confidence: 0, causal_weight: 0, mechanism: 'none', _empty: true } }];"
      }
    },
    {
      "id": "ed26c3c9-e782-4224-ae63-62e8a2117bdc",
      "name": "Batch 25 Items",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2700,
        1330
      ],
      "parameters": {
        "jsCode": "const items = $input.all().filter(i => i.json && typeof i.json === 'object' && !i.json._empty);\nconst BATCH_SIZE = 25;\nconst batches = [];\nfor (let i = 0; i < items.length; i += BATCH_SIZE) {\n  batches.push({ json: { batch: items.slice(i, i + BATCH_SIZE).map(x => x.json) } });\n}\nreturn batches.length > 0 ? batches : [{ json: { batch: [] } }];"
      }
    },
    {
      "id": "5cc699d3-40fc-4c7a-9483-dfdb1feee166",
      "name": "POST Batch to Graph",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3000,
        1330
      ],
      "continueOnFail": true,
      "parameters": {
        "method": "POST",
        "url": "https://forage-graph-production.up.railway.app/ingest_raw_batch",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer 6da69224eb14e6bdb0fb63514b772480d23a4467f8ac8a4b15266a8262d7f959"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {
          "timeout": 30000,
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      }
    },
    {
      "id": "d4caacbc-15b2-47bd-9480-c46f39d8929e",
      "name": "Log Results",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3300,
        1330
      ],
      "parameters": {
        "jsCode": "const items = $input.all();\nfor (const item of items) {\n  const d = item.json;\n  if (d && d.error) {\n    console.error('[Graph Batch Error]', JSON.stringify(d));\n  } else {\n    console.log('[Graph Batch OK] accepted=' + (d && d.accepted_count ? d.accepted_count : '?'));\n  }\n}\nreturn items;"
      }
    }
  ],
  "connections": {
    "Run Every 6 Hours": {
      "main": [
        [
          {
            "node": "RSS 1: BBC World News",
            "type": "main",
            "index": 0
          },
          {
            "node": "RSS 2: Reuters Top News",
            "type": "main",
            "index": 0
          },
          {
            "node": "RSS 3: The Guardian World",
            "type": "main",
            "index": 0
          },
          {
            "node": "RSS 4: Sky News World",
            "type": "main",
            "index": 0
          },
          {
            "node": "RSS 5: Foreign Policy",
            "type": "main",
            "index": 0
          },
          {
            "node": "RSS 6: Foreign Affairs",
            "type": "main",
            "index": 0
          },
          {
            "node": "RSS 7: TechCrunch",
            "type": "main",
            "index": 0
          },
          {
            "node": "RSS 8: TechCrunch Startups",
            "type": "main",
            "index": 0
          },
          {
            "node": "RSS 9: TechCrunch Funding",
            "type": "main",
            "index": 0
          },
          {
            "node": "RSS 10: Wired",
            "type": "main",
            "index": 0
          },
          {
            "node": "RSS 11: Ars Technica",
            "type": "main",
            "index": 0
          },
          {
            "node": "RSS 12: MIT Tech Review",
            "type": "main",
            "index": 0
          },
          {
            "node": "RSS 13: VentureBeat",
            "type": "main",
            "index": 0
          },
          {
            "node": "RSS 14: The Verge",
            "type": "main",
            "index": 0
          },
          {
            "node": "RSS 15: Fortune",
            "type": "main",
            "index": 0
          },
          {
            "node": "RSS 16: Economist Finance",
            "type": "main",
            "index": 0
          },
          {
            "node": "RSS 17: The Economist",
            "type": "main",
            "index": 0
          },
          {
            "node": "RSS 18: Inc Magazine",
            "type": "main",
            "index": 0
          },
          {
            "node": "RSS 19: Forbes Business",
            "type": "main",
            "index": 0
          },
          {
            "node": "RSS 20: Business Insider Tech",
            "type": "main",
            "index": 0
          },
          {
            "node": "RSS 21: BLS Price Indicators",
            "type": "main",
            "index": 0
          },
          {
            "node": "RSS 22: BLS JOLTS",
            "type": "main",
            "index": 0
          },
          {
            "node": "RSS 23: BLS CPI",
            "type": "main",
            "index": 0
          },
          {
            "node": "RSS 24: Federal Reserve",
            "type": "main",
            "index": 0
          },
          {
            "node": "RSS 25: ECB",
            "type": "main",
            "index": 0
          },
          {
            "node": "RSS 26: Marginal Revolution",
            "type": "main",
            "index": 0
          },
          {
            "node": "RSS 27: Project Syndicate",
            "type": "main",
            "index": 0
          },
          {
            "node": "RSS 28: Federal Register",
            "type": "main",
            "index": 0
          },
          {
            "node": "RSS 29: UK Legislation",
            "type": "main",
            "index": 0
          },
          {
            "node": "RSS 30: EUR-Lex",
            "type": "main",
            "index": 0
          },
          {
            "node": "RSS 31: DataBreaches.net",
            "type": "main",
            "index": 0
          },
          {
            "node": "RSS 32: UpGuard Breaches",
            "type": "main",
            "index": 0
          },
          {
            "node": "RSS 33: Cooley M&A",
            "type": "main",
            "index": 0
          },
          {
            "node": "RSS 34: DealRoom",
            "type": "main",
            "index": 0
          },
          {
            "node": "RSS 35: arXiv CS",
            "type": "main",
            "index": 0
          },
          {
            "node": "RSS 36: arXiv Economics",
            "type": "main",
            "index": 0
          },
          {
            "node": "RSS 37: arXiv ML",
            "type": "main",
            "index": 0
          },
          {
            "node": "RSS 38: arXiv Biology",
            "type": "main",
            "index": 0
          },
          {
            "node": "RSS 39: HubSpot Marketing",
            "type": "main",
            "index": 0
          },
          {
            "node": "RSS 40: HubSpot Sales",
            "type": "main",
            "index": 0
          },
          {
            "node": "RSS 41: Neil Patel",
            "type": "main",
            "index": 0
          },
          {
            "node": "RSS 42: Sales Hacker",
            "type": "main",
            "index": 0
          },
          {
            "node": "RSS 43: Gong Blog",
            "type": "main",
            "index": 0
          },
          {
            "node": "RSS 44: Close CRM Blog",
            "type": "main",
            "index": 0
          },
          {
            "node": "RSS 45: Psychology Today",
            "type": "main",
            "index": 0
          },
          {
            "node": "RSS 46: Behavioral Scientist",
            "type": "main",
            "index": 0
          },
          {
            "node": "RSS 47: Scientific American",
            "type": "main",
            "index": 0
          },
          {
            "node": "RSS 48: Crunchbase News",
            "type": "main",
            "index": 0
          },
          {
            "node": "RSS 49: a16z Blog",
            "type": "main",
            "index": 0
          },
          {
            "node": "RSS 50: Y Combinator Blog",
            "type": "main",
            "index": 0
          },
          {
            "node": "RSS 51: MIT Sloan Review",
            "type": "main",
            "index": 0
          },
          {
            "node": "RSS 52: McKinsey Insights",
            "type": "main",
            "index": 0
          },
          {
            "node": "RSS 53: OPEC",
            "type": "main",
            "index": 0
          },
          {
            "node": "RSS 54: Responsible Investor",
            "type": "main",
            "index": 0
          },
          {
            "node": "RSS 55: CoinTelegraph",
            "type": "main",
            "index": 0
          },
          {
            "node": "RSS 56: Supply Chain Digital",
            "type": "main",
            "index": 0
          },
          {
            "node": "RSS 57: Hootsuite Blog",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS 1: BBC World News": {
      "main": [
        [
          {
            "node": "Tag 1: BBC World News",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tag 1: BBC World News": {
      "main": [
        [
          {
            "node": "Merge All Feeds",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS 2: Reuters Top News": {
      "main": [
        [
          {
            "node": "Tag 2: Reuters Top News",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tag 2: Reuters Top News": {
      "main": [
        [
          {
            "node": "Merge All Feeds",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS 3: The Guardian World": {
      "main": [
        [
          {
            "node": "Tag 3: The Guardian World",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tag 3: The Guardian World": {
      "main": [
        [
          {
            "node": "Merge All Feeds",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS 4: Sky News World": {
      "main": [
        [
          {
            "node": "Tag 4: Sky News World",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tag 4: Sky News World": {
      "main": [
        [
          {
            "node": "Merge All Feeds",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS 5: Foreign Policy": {
      "main": [
        [
          {
            "node": "Tag 5: Foreign Policy",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tag 5: Foreign Policy": {
      "main": [
        [
          {
            "node": "Merge All Feeds",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS 6: Foreign Affairs": {
      "main": [
        [
          {
            "node": "Tag 6: Foreign Affairs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tag 6: Foreign Affairs": {
      "main": [
        [
          {
            "node": "Merge All Feeds",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS 7: TechCrunch": {
      "main": [
        [
          {
            "node": "Tag 7: TechCrunch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tag 7: TechCrunch": {
      "main": [
        [
          {
            "node": "Merge All Feeds",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS 8: TechCrunch Startups": {
      "main": [
        [
          {
            "node": "Tag 8: TechCrunch Startups",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tag 8: TechCrunch Startups": {
      "main": [
        [
          {
            "node": "Merge All Feeds",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS 9: TechCrunch Funding": {
      "main": [
        [
          {
            "node": "Tag 9: TechCrunch Funding",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tag 9: TechCrunch Funding": {
      "main": [
        [
          {
            "node": "Merge All Feeds",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS 10: Wired": {
      "main": [
        [
          {
            "node": "Tag 10: Wired",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tag 10: Wired": {
      "main": [
        [
          {
            "node": "Merge All Feeds",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS 11: Ars Technica": {
      "main": [
        [
          {
            "node": "Tag 11: Ars Technica",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tag 11: Ars Technica": {
      "main": [
        [
          {
            "node": "Merge All Feeds",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS 12: MIT Tech Review": {
      "main": [
        [
          {
            "node": "Tag 12: MIT Tech Review",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tag 12: MIT Tech Review": {
      "main": [
        [
          {
            "node": "Merge All Feeds",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS 13: VentureBeat": {
      "main": [
        [
          {
            "node": "Tag 13: VentureBeat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tag 13: VentureBeat": {
      "main": [
        [
          {
            "node": "Merge All Feeds",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS 14: The Verge": {
      "main": [
        [
          {
            "node": "Tag 14: The Verge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tag 14: The Verge": {
      "main": [
        [
          {
            "node": "Merge All Feeds",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS 15: Fortune": {
      "main": [
        [
          {
            "node": "Tag 15: Fortune",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tag 15: Fortune": {
      "main": [
        [
          {
            "node": "Merge All Feeds",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS 16: Economist Finance": {
      "main": [
        [
          {
            "node": "Tag 16: Economist Finance",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tag 16: Economist Finance": {
      "main": [
        [
          {
            "node": "Merge All Feeds",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS 17: The Economist": {
      "main": [
        [
          {
            "node": "Tag 17: The Economist",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tag 17: The Economist": {
      "main": [
        [
          {
            "node": "Merge All Feeds",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS 18: Inc Magazine": {
      "main": [
        [
          {
            "node": "Tag 18: Inc Magazine",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tag 18: Inc Magazine": {
      "main": [
        [
          {
            "node": "Merge All Feeds",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS 19: Forbes Business": {
      "main": [
        [
          {
            "node": "Tag 19: Forbes Business",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tag 19: Forbes Business": {
      "main": [
        [
          {
            "node": "Merge All Feeds",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS 20: Business Insider Tech": {
      "main": [
        [
          {
            "node": "Tag 20: Business Insider Tech",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tag 20: Business Insider Tech": {
      "main": [
        [
          {
            "node": "Merge All Feeds",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS 21: BLS Price Indicators": {
      "main": [
        [
          {
            "node": "Tag 21: BLS Price Indicators",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tag 21: BLS Price Indicators": {
      "main": [
        [
          {
            "node": "Merge All Feeds",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS 22: BLS JOLTS": {
      "main": [
        [
          {
            "node": "Tag 22: BLS JOLTS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tag 22: BLS JOLTS": {
      "main": [
        [
          {
            "node": "Merge All Feeds",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS 23: BLS CPI": {
      "main": [
        [
          {
            "node": "Tag 23: BLS CPI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tag 23: BLS CPI": {
      "main": [
        [
          {
            "node": "Merge All Feeds",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS 24: Federal Reserve": {
      "main": [
        [
          {
            "node": "Tag 24: Federal Reserve",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tag 24: Federal Reserve": {
      "main": [
        [
          {
            "node": "Merge All Feeds",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS 25: ECB": {
      "main": [
        [
          {
            "node": "Tag 25: ECB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tag 25: ECB": {
      "main": [
        [
          {
            "node": "Merge All Feeds",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS 26: Marginal Revolution": {
      "main": [
        [
          {
            "node": "Tag 26: Marginal Revolution",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tag 26: Marginal Revolution": {
      "main": [
        [
          {
            "node": "Merge All Feeds",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS 27: Project Syndicate": {
      "main": [
        [
          {
            "node": "Tag 27: Project Syndicate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tag 27: Project Syndicate": {
      "main": [
        [
          {
            "node": "Merge All Feeds",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS 28: Federal Register": {
      "main": [
        [
          {
            "node": "Tag 28: Federal Register",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tag 28: Federal Register": {
      "main": [
        [
          {
            "node": "Merge All Feeds",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS 29: UK Legislation": {
      "main": [
        [
          {
            "node": "Tag 29: UK Legislation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tag 29: UK Legislation": {
      "main": [
        [
          {
            "node": "Merge All Feeds",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS 30: EUR-Lex": {
      "main": [
        [
          {
            "node": "Tag 30: EUR-Lex",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tag 30: EUR-Lex": {
      "main": [
        [
          {
            "node": "Merge All Feeds",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS 31: DataBreaches.net": {
      "main": [
        [
          {
            "node": "Tag 31: DataBreaches.net",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tag 31: DataBreaches.net": {
      "main": [
        [
          {
            "node": "Merge All Feeds",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS 32: UpGuard Breaches": {
      "main": [
        [
          {
            "node": "Tag 32: UpGuard Breaches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tag 32: UpGuard Breaches": {
      "main": [
        [
          {
            "node": "Merge All Feeds",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS 33: Cooley M&A": {
      "main": [
        [
          {
            "node": "Tag 33: Cooley M&A",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tag 33: Cooley M&A": {
      "main": [
        [
          {
            "node": "Merge All Feeds",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS 34: DealRoom": {
      "main": [
        [
          {
            "node": "Tag 34: DealRoom",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tag 34: DealRoom": {
      "main": [
        [
          {
            "node": "Merge All Feeds",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS 35: arXiv CS": {
      "main": [
        [
          {
            "node": "Tag 35: arXiv CS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tag 35: arXiv CS": {
      "main": [
        [
          {
            "node": "Merge All Feeds",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS 36: arXiv Economics": {
      "main": [
        [
          {
            "node": "Tag 36: arXiv Economics",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tag 36: arXiv Economics": {
      "main": [
        [
          {
            "node": "Merge All Feeds",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS 37: arXiv ML": {
      "main": [
        [
          {
            "node": "Tag 37: arXiv ML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tag 37: arXiv ML": {
      "main": [
        [
          {
            "node": "Merge All Feeds",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS 38: arXiv Biology": {
      "main": [
        [
          {
            "node": "Tag 38: arXiv Biology",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tag 38: arXiv Biology": {
      "main": [
        [
          {
            "node": "Merge All Feeds",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS 39: HubSpot Marketing": {
      "main": [
        [
          {
            "node": "Tag 39: HubSpot Marketing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tag 39: HubSpot Marketing": {
      "main": [
        [
          {
            "node": "Merge All Feeds",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS 40: HubSpot Sales": {
      "main": [
        [
          {
            "node": "Tag 40: HubSpot Sales",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tag 40: HubSpot Sales": {
      "main": [
        [
          {
            "node": "Merge All Feeds",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS 41: Neil Patel": {
      "main": [
        [
          {
            "node": "Tag 41: Neil Patel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tag 41: Neil Patel": {
      "main": [
        [
          {
            "node": "Merge All Feeds",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS 42: Sales Hacker": {
      "main": [
        [
          {
            "node": "Tag 42: Sales Hacker",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tag 42: Sales Hacker": {
      "main": [
        [
          {
            "node": "Merge All Feeds",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS 43: Gong Blog": {
      "main": [
        [
          {
            "node": "Tag 43: Gong Blog",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tag 43: Gong Blog": {
      "main": [
        [
          {
            "node": "Merge All Feeds",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS 44: Close CRM Blog": {
      "main": [
        [
          {
            "node": "Tag 44: Close CRM Blog",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tag 44: Close CRM Blog": {
      "main": [
        [
          {
            "node": "Merge All Feeds",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS 45: Psychology Today": {
      "main": [
        [
          {
            "node": "Tag 45: Psychology Today",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tag 45: Psychology Today": {
      "main": [
        [
          {
            "node": "Merge All Feeds",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS 46: Behavioral Scientist": {
      "main": [
        [
          {
            "node": "Tag 46: Behavioral Scientist",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tag 46: Behavioral Scientist": {
      "main": [
        [
          {
            "node": "Merge All Feeds",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS 47: Scientific American": {
      "main": [
        [
          {
            "node": "Tag 47: Scientific American",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tag 47: Scientific American": {
      "main": [
        [
          {
            "node": "Merge All Feeds",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS 48: Crunchbase News": {
      "main": [
        [
          {
            "node": "Tag 48: Crunchbase News",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tag 48: Crunchbase News": {
      "main": [
        [
          {
            "node": "Merge All Feeds",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS 49: a16z Blog": {
      "main": [
        [
          {
            "node": "Tag 49: a16z Blog",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tag 49: a16z Blog": {
      "main": [
        [
          {
            "node": "Merge All Feeds",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS 50: Y Combinator Blog": {
      "main": [
        [
          {
            "node": "Tag 50: Y Combinator Blog",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tag 50: Y Combinator Blog": {
      "main": [
        [
          {
            "node": "Merge All Feeds",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS 51: MIT Sloan Review": {
      "main": [
        [
          {
            "node": "Tag 51: MIT Sloan Review",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tag 51: MIT Sloan Review": {
      "main": [
        [
          {
            "node": "Merge All Feeds",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS 52: McKinsey Insights": {
      "main": [
        [
          {
            "node": "Tag 52: McKinsey Insights",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tag 52: McKinsey Insights": {
      "main": [
        [
          {
            "node": "Merge All Feeds",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS 53: OPEC": {
      "main": [
        [
          {
            "node": "Tag 53: OPEC",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tag 53: OPEC": {
      "main": [
        [
          {
            "node": "Merge All Feeds",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS 54: Responsible Investor": {
      "main": [
        [
          {
            "node": "Tag 54: Responsible Investor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tag 54: Responsible Investor": {
      "main": [
        [
          {
            "node": "Merge All Feeds",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS 55: CoinTelegraph": {
      "main": [
        [
          {
            "node": "Tag 55: CoinTelegraph",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tag 55: CoinTelegraph": {
      "main": [
        [
          {
            "node": "Merge All Feeds",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS 56: Supply Chain Digital": {
      "main": [
        [
          {
            "node": "Tag 56: Supply Chain Digital",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tag 56: Supply Chain Digital": {
      "main": [
        [
          {
            "node": "Merge All Feeds",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS 57: Hootsuite Blog": {
      "main": [
        [
          {
            "node": "Tag 57: Hootsuite Blog",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tag 57: Hootsuite Blog": {
      "main": [
        [
          {
            "node": "Merge All Feeds",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge All Feeds": {
      "main": [
        [
          {
            "node": "Normalize to Graph Entities",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize to Graph Entities": {
      "main": [
        [
          {
            "node": "LLM Causal Extraction",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LLM Causal Extraction": {
      "main": [
        [
          {
            "node": "Wikidata Q-ID Grounding",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wikidata Q-ID Grounding": {
      "main": [
        [
          {
            "node": "Batch 25 Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Batch 25 Items": {
      "main": [
        [
          {
            "node": "POST Batch to Graph",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "POST Batch to Graph": {
      "main": [
        [
          {
            "node": "Log Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "2730d240-7134-4934-80c5-88395d22278d",
  "meta": {
    "templateCredsSetupCompleted": true
  }
}